@font-face{
  font-family: 'century-gothic';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/century-gothic.ttf);
}

.material-icons {
  font-family: 'Material Icons' !important;
}

*{
	font-family: 'century-gothic' !important;
}
/*Login*/
.card-login{
    margin-top: 15%;
}
