<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.appName}}</title>
</head>
<body>
    <nav>
		<div class="nav-wrapper blue lighten-1">
		  <a href="/" class="brand-logo" style="padding-left: 20px;"><i class="material-icons">cloud</i>TicketAware</a>
		  <ul class="right hide-on-med-and-down">
			<li><a href="login">登陆/注册</a></li>
		  </ul>
		</div>
	  </nav>
</body>
</html>