<!DOCTYPE html>
<html>
<head>
	<title>{{.pageName}} - {{.appName}}</title>
	<meta charset="utf-8" lang="en">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="../assets/css/materialize-admin.min.css">
	<link rel="stylesheet" href="../assets/css/materialize.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="../assets/css/global.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/login.css">
	<link rel="stylesheet" href="/assets/public/js-snackbar/js-snackbar.css">
</head>
<body>
	<nav>
		<div class="nav-wrapper blue lighten-1">
		  <a href="/" class="brand-logo" style="padding-left: 20px;"><i class="material-icons">cloud</i>TicketAware</a>
		  <ul class="right hide-on-med-and-down">
			{{if .username}}
			<!-- Dropdown Trigger -->
			<a class='dropdown-button btn' href='#' data-activates='dropdown1'>{{.username}}</a>

			<!-- Dropdown Structure -->
			<ul id='dropdown1' class='dropdown-content'>
			  <li><a href="/user/home">用户首页</a></li>
			  <li><a id="logout">退出登陆</a></li>
			</ul>
			{{else}}
			<li><a href="/user/login">登陆/注册</a></li>
			{{end}}
		  </ul>
		</div>
	  </nav>
<div class="container">
		<div class="row">
			<div class="col s12 l8 offset-l2">
				<div class="card card-login">
					<div class="card-login-splash">
						<div class="wrapper">
							<h2 class="center flow-text">TicketAware</h2>
							<span class="hide-on-med-and-down">
								<a class="btn waves-effect waves-light blue darken-2" href="/user/login"><i class="material-icons left">check</i>登陆</a>
								<a class="btn waves-effect waves-light green darken-2"  href="/user/register"><i class="material-icons left">create</i>注册</a>
							</span>
							<span class="center hide-on-large-only show-on-medium-and-down">
								<a class="btn tooltipped btn-floating waves-effect waves-light blue darken-2" href="#!" data-position="bottom" data-tooltip="Sign In"><i class="material-icons" >check</i></a>
								<a class="btn tooltipped btn-floating waves-effect waves-light green darken-2"  href="#!" data-position="bottom" data-tooltip="Register"><i class="material-icons">create</i></a>
							</span>
							
						</div>
						<img src="../assets/images/1.png" alt="">
					</div>
					<div class="card-content">
					<div class="flow-text center-align">注<span class="hide-on-small-only">册</span></div>
						<form method="post" action="/user/registerEntry">
							<div class="row">
								<div class="input-field col s12 m12 l12">
									<i class="material-icons prefix left">email</i>
									<input id="email" type="text" class="validate" name="email">
									<label for="email">邮箱</label>
								</div>
								<div class="input-field col s12 m12 l12">
									<i class="material-icons prefix left">account_circle</i>
									<input id="username" type="text" class="validate" name="username">
									<label for="username">用户名</label>
								</div>
								<div class="input-field col s12 m12 l12">
									<i class="material-icons prefix left">vpn_key</i>
									<input id="password" type="password" class="validate" name="password">
									<label for="password">密码</label>
								</div>
								<div class="input-field col s12 m12 l12">
									<i class="material-icons prefix left">vpn_key</i>
									<input id="passwordConfirm" type="password" class="validate" name="passwordConfirm">
									<label for="passwordConfirm">确认密码</label>
								</div>
							</div>
							<div class="row">
								<div class="col s6">
									<a href="/user/login">已有账户了，去登陆</a>
								</div>
								<div class="col s6 right">
									<button type="button"  class="btn full waves-effect waves-light green darken-2" id="register"><i class="large material-icons tooltipped hide-on-med-and-up show-on-small"  data-position="bottom" data-tooltip="Log In">lock_open</i><span class="hide-on-small-only">注册</span></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/assets/public/jquery/jquery-min.js"></script>
	<script src="/assets/public/materialze/js/materialize.min.js"></script>
	<script src="/assets/public/js-snackbar/js-snackbar.js"></script>
	<script src="/assets/js/cookie.js"></script>
	<script>
		$("#register").click(function() {
			// 获取输入框字段
			let email = $("#email").val();
			let username = $("#username").val();
			let password = $("#password").val();
			let passwordConfirm = $("#passwordConfirm").val();

			// 邮箱合法性正则表达式
			let reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;

			// 判断密码和确认密码是否相同
			if(password == passwordConfirm && reg.test(email) && password.length >= 6) {
				// 如果相同进行注册请求
				$.ajax({
					url: "/user/registerEntry",
					type: "post",
					data: {
						"email": email,
						"username": username,
						"password": password
					},
					success: function(result) {
						// 请求成功弹出提示框
						if(result["code"] == 200) {
							SnackBar({
								position: "tc",
								message: result["msg"],
								status: "success"
							});
							setTimeout(function() {
								window.location.href="/login";
							}, 2000);
						} else {
							SnackBar({
								position: "tc",
								message: result["msg"],
								status: "danger"
							});
						}
					}
				})
			} else if(!reg.test(email)){
				SnackBar({
					position: "tc",
					message: "请输入正确的邮箱！",
					status: "danger"
				});
			} else if(password.length < 6){
				SnackBar({
					position: "tc",
					message: "密码长度需大于6位！",
					status: "danger"
				});
			} else {
				// 两次输入密码不同，提出警示框
				SnackBar({
					position: "tc",
					message: "两个密码框内密码不一致！",
					status: "danger"
				})
			} });
	</script>
</body>
</html>
